<template>
  <div>
    <div class="form-group">
      <label>Blood Pressure History</label>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Systolic</th>
        <th>Diastolic</th>
        <th>Pulse</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="it in info.blood_pressures">
        <td>{{it.systolic}}</td>
        <td>{{it.diastolic}}</td>
        <td>{{it.pulse}}</td>
        <td>{{it.date}}</td>
      </tr>
      <tr v-if="info.blood_pressures.length==0">
        <td colspan="4">Nothing Found !</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "blood-pressure",
  computed:{
    info(){
      return this.$store.state.info;
    }
  },
  created(){
    this.$root.page_title = 'Blood Pressure';
  }
}
</script>

<style scoped>

</style>