<template>
    <div class="">
        <div class="col-sm-7">
            <div class="row">
                <h3>Clinical Management &raquo <small>{{$root.page_title}}</small></h3>
                <hr>
                <div class="col-sm-3">
                    <ul class="nav nav-tabs row" role="tablist">
                        <li role="presentation" :class="{active:currentTab}">
                            <a href="#current" aria-controls="current" role="tab" data-toggle="tab">
                                <span class="glyphicon glyphicon-tasks"></span>
                                Current
                            </a>
                        </li>
                        <li role="presentation" :class="{active:historyTab}">
                            <a href="#history" aria-controls="history" role="tab" data-toggle="tab">
                                <span class="glyphicon glyphicon-time"></span>
                                History</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" :class="{active:currentTab}" class="tab-pane" id="current">
                            <div class="row list-group">
                                <router-link to="/" class="list-group-item">Patient History</router-link>
                                <router-link to="/examination" class="list-group-item">General Examination</router-link>
                                <router-link to="/systemic-examination" class="list-group-item">Systemic Examination
                                </router-link>
                                <router-link to="/investigations" class="list-group-item">Investigations</router-link>
                                <router-link to="/diagnosis" class="list-group-item">Diagnosis</router-link>
                                <router-link to="/medication" class="list-group-item">Medication</router-link>
                                <router-link to="/blood-pressure" class="list-group-item">Blood Pressure</router-link>
                            </div>
                        </div>
                        <div role="tabpanel" :class="{active:historyTab}" class="tab-pane" id="history">
                            <visit-history :patient_id="patient_id"></visit-history>
                        </div>
                    </div>

                </div>
                <div class="col-sm-9">
                    <router-view :gender="gender"></router-view>
                </div>
            </div>
        </div>
        <div class="col-sm-5 patient-info-wrapper">
            <div class="row panel panel-default patient-info" id="printArea" ref="printArea">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h4 class="hidden-print panel-title">Patient Information</h4>
                        <h2 class="hidden visible-print">Patient Information</h2>
                    </div>
                    <div class="pull-right hidden-print">
                        <button @click="print()" class="btn btn-xs btn-info">
                            <span class="glyphicon glyphicon-print"></span>
                            Print
                        </button>
                        <button class="btn btn-xs btn-primary" @click="saveInfo()">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Save
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <patient-info></patient-info>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PatientInfo from './sub/PatientInfo';
    import VisitHistory from './sub/VisitHistory';
    import printJS from 'print-js';

    export default {
        name: 'clinical-management',
        props: ['patient_id', 'gender'],
        methods: {
            saveInfo() {
                var that = this;
                this.info.patient_id = this.patient_id;
                axios.post('/clinical-management', this.info)
                    .then(function (response) {
                        that.$emit('saved');
                        alert(response.data.msg);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            print() {
                printJS({
                    printable: this.$refs.printArea.innerHTML,
                    type:'raw-html',
                    css: '/css/bootstrap.min.css',
                    header: 'Patient Information'
                });
            }
        },
        computed: {
            info() {
                return this.$store.state.info;
            },
            historyTab() {
                if (this.$route.path == '/visit') {
                    return true;
                }
                return false;
            },
            currentTab() {
                if (this.$route.path == '/visit') {
                    return false;
                }
                return true;
            },
        },
        components: {
            PatientInfo,
            VisitHistory
        },
        created() {
            var that = this;
            var p = this.patient_id;
            var dt = dateFormat('isoDate');
            axios.get('/clinical-management/visit/' + p + '/' + dt)
                .then(function (resp) {
                    if (resp.data.status !== 'failed') {
                        that.$store.state.info = resp.data;
                    }
                })
                .catch(function (error) {
                    console.log('error');
                });
        }
    }
</script>

<style scoped>
    .router-link-exact-active {
        background: #ddd;
    }

    .nav-tabs {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 5px;
    }

    .patient-info-wrapper {
        position: relative;
    }

    .patient-info {
        position: sticky;
        top: 1px;
    }
</style>