<template>
    <div>
        <div class="form-group">
            <label class="panel-title">Diagnosis</label>
            <textarea class="form-control" v-model="info.diagnosis" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label class="panel-title">Remarks</label>
            <textarea v-model="info.diagnosis_remarks" placeholder="medicine that are taking, allergies/reaction" class="form-control" cols="30" rows="3"></textarea>
        </div>
    </div>
</template>

<script>
    export default {
        name: "diagnosis",
        computed:{
            info(){
                return this.$store.state.info;
            }
        },
        created(){
            this.$root.page_title = 'Diagnosis';
        }
    }
</script>

<style scoped>

</style>