<template>
    <div>
        <div class="form-group">
            <label class="panel-title">Appearance</label>
            <textarea v-model="info.appearance" placeholder="long string description" class="form-control" name="" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label>Anaemia</label>
            <input v-model="info.anaemia" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Blood Pressure</label>
            <input v-model="info.blood_pressure" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Venous Pressure</label>
            <input v-model="info.venous_pressure" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Jaundice</label>
            <input v-model="info.jaundice" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Temperature</label>
            <input v-model="info.temperature" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Clubbing</label>
            <input v-model="info.clubbing" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Cyanosis</label>
            <input v-model="info.cyanosis" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Pulse</label>
            <input v-model="info.pulse" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Oedema</label>
            <input v-model="info.oedema" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Height</label>
            <input v-model="info.height" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Weight</label>
            <input v-model="info.weight" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label class="panel-title">Others</label>
            <textarea v-model="info.other_examination" placeholder="long string description" class="form-control" name="" cols="30" rows="3"></textarea>
        </div>
    </div>
</template>

<script>
    export default {
        name: "general-examination",
        computed:{
            info(){
                return this.$store.state.info;
            }
        },
        created(){
            this.$root.page_title = 'General Examination';
        }
    }
</script>

<style scoped>

</style>