<template>
    <div>
        <div class="form-group">
            <label>Routine</label>

            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.routine" value="FBC/CBC"> FBC/CBC
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.routine" value="Serum Electrolyte"> Serum Electrolyte
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.routine" value="Serum Creatinine"> Serum Creatinine
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.routine" value="Liver Function Test"> Liver Function Test
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.routine" value="Urine Profile"> Urine Profile
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.routine" value="Chest-X-ray"> Chest-X-ray
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="panel-title">Specific</label>
            <textarea v-model="info.investigation_specific" class="form-control" cols="30" rows="3"></textarea>
        </div>
    </div>
</template>

<script>
    export default {
        name: "investigations",
        computed:{
            info(){
                return this.$store.state.info;
            }
        },
        created(){
            this.$root.page_title = 'Investigations';
        }
    }
</script>

<style scoped>

</style>