<template>
    <div>
        <div class="form-horizontal">
            <label>Rx</label>
            <med-table :meds="info.meds"></med-table>
            <hr>
            <div class="form-group">
                <div class="col-sm-3">
                    <label>Name</label>
                </div>
                <div class="col-sm-9">
                    <drug @change="drugSelected" ></drug>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3">
                    <label>Dose</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" v-model="drug.dose" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4">
                    <input v-model="drug.freq" type="text" class="form-control" placeholder="frequency" >
                </div>
                <div class="col-sm-4">
                    <input v-model="drug.duration" type="text" class="form-control" placeholder="duration" >
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info btn-sm" @click="addMed()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add
                    </button>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="panel-title">Tests</label>
                </div>
            </div>
            <test-table :tests="info.tests"></test-table>
            <hr>
            <div class="form-group">
                <div class="col-sm-3">
                    <label>Test Type</label>
                </div>
                <div class="col-sm-9">
                    <select name="test_type" id="" class="form-control" v-model="tests.test_type">
                        <option value="">---</option>
                        <option v-for="(t, key) in test_types" :value="key">{{t}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model="tests.is_repeat" value="yes"> Repeat Test
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <select name="test_repeat" class="form-control" v-model="tests.repeat_frequency">
                        <option value="week">Every Week</option>
                        <option value="week">Every 15 Days</option>
                        <option value="month">Every Month</option>
                    </select>
                </div>
                <div class="col-sm-1">
                    <label>Until</label>
                </div>
                <div class="col-sm-5">
                    <input type="date" class="form-control" v-model="tests.repeat_until">
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <button class="btn btn-info" name="add_test" @click="addTest">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="panel-title">Other Advise</label>
                    <textarea v-model="info.medication_advice" class="form-control" cols="20" rows="3"></textarea>
                </div>
            </div>
            <hr>
        </div>

    </div>
</template>
<script>
    import MedTable from './sub/MedTable';
    import TestTable from './sub/TestTable';
    import Drug from './sub/Drug';

    export default {
        name: "medication",
        data(){
            return{
                drug:{},
                tests:{},
                test_types:[],
                selectedValue: new Date(),
            }
        },
        computed:{
            info(){
                return this.$store.state.info;
            }
        },
        methods:{
            loadTestTypes(){
                axios.get('/api/test-types')
                    .then((resp)=>{
                        this.test_types = resp.data;
                    })
                    .catch((e)=>{
                        console.log(e);
                    });
            },
            drugSelected(v){
                this.drug.drug_name = v;
            },
            addMed(){
                if(Object.keys(this.drug).length<4){
                    alert('Select medication');
                    return;
                }
                this.info.meds.push(this.drug);
                this.brand_name = '';
                this.drug={};
                $('#remote .typeahead').val('');
            },
            addTest(){
                this.info.tests.push(this.tests);
                this.tests={};
            }
        },
        components:{
            MedTable,
            TestTable,
            Drug
        },
        created(){
            this.loadTestTypes();
            this.$root.page_title = 'Medication';
        }
    }
</script>

<style scoped>

</style>