<template>
    <div>
        <div class="form-group">
            <label>Present Complaints:</label>
            <textarea name="present_complaints" cols="30" rows="10" class="form-control" v-model="info.present_complaints"></textarea>
        </div>

        <div class="form-group">
            <label>Past Illness</label>

            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.past_illness" value="Diabetics"> Diabetics
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.past_illness" value="Hypertension"> Hypertension
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.past_illness" value="Bronchial Asthma"> Bronchial Asthma
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.past_illness" value="COPD"> COPD
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.past_illness" value="Tuberculosis"> Tuberculosis
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.past_illness" value="HIV/AIDS"> HIV/AIDS
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.past_illness" value="Jaundice"> Jaundice
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.past_illness" value="Malaria"> Malaria
                </label>
            </div>
        </div>

        <div class="form-group">
            <textarea v-model="info.medical_history" placeholder="Medical &amp; Surgical history description" class="form-control" name="" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label>Medication</label>
            <textarea v-model="info.medication" placeholder="medicine that are taking, allergies/reaction" class="form-control" name="" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label>Personal History</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.personal" value="Smoking/tobacco"> Smoking/tobacco
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.personal" value="Alcohol"> Alcohol
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.personal" value="Substance/Intravenous drug abuse"> Substance/Intravenous drug abuse
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="info.personal" value="Sexual contact"> Sexual contact
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Family</label>
            <textarea v-model="info.family" placeholder="information about hypertension, diabetic, asthma, allergies, ethnic origin, details about health of siblings and children, hereditary disease" class="form-control" name="" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label>Social</label>
            <textarea v-model="info.social" placeholder="social economic condition, occupation, presence of stairs in or leading into flat/house, sanitation" class="form-control" name="" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label>Allergy</label>
            <textarea v-model="info.allergy" placeholder="medication, pet animals, polen" class="form-control" name="" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label class="panel-title">Psychiatric Illness</label>
            <textarea v-model="info.psychiatric_illness" class="form-control" name="" cols="30" rows="3"></textarea>
        </div>

        <div v-if="gender=='female'" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Obstetric &amp; gynecological history</h3>
            </div>
            <div class="panel-body form-horizontal">
                <div class="form-group" >
                    <div class="col-sm-4">
                        <label>Menstruation:</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" v-model="info.menstruation" placeholder="Menstruation cycle in days" class="form-control">
                            <span class="input-group-addon">days</span>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-4">
                        <label class="radio-inline">
                            <input name="menstruation_type" v-model="info.menstruation_type" type="radio" value="Regular"> Regular
                        </label>
                        <label class="radio-inline">
                            <input name="menstruation_type" v-model="info.menstruation_type" type="radio" value="Irregular"> Irregular
                        </label>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-4">
                        <label>Para:</label>
                    </div>
                    <div class="col-sm-8">
                        <div>
                            <input type="text" v-model="info.para" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-4">
                        <label>Gravida:</label>
                    </div>
                    <div class="col-sm-8">
                        <div>
                            <input type="text" v-model="info.gravida" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-4">
                        <label>Menarche:</label>
                    </div>
                    <div class="col-sm-8">
                        <div>
                            <input type="text" v-model="info.menarche" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-4">
                        <label>Menopause:</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input name="menopause" v-model="info.menopause" type="radio" value="yes"> Yes
                        </label>
                        <label class="radio-inline">
                            <input name="menopause" v-model="info.menopause" type="radio" value="no"> No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "patient-history",
        props:['gender'],
        computed:{
            info(){
                return this.$store.state.info;
            }
        },
        created(){
            this.$root.page_title = 'Patient History';
        }
    }
</script>

<style scoped>

</style>