<template>
   <div class="">
      <div class="col-sm-7">
         <div class="row">
            <h3>Prescription</h3>
            <hr>
            <div class="col-sm-3">
               <ul class="nav nav-tabs row" role="tablist">
                  <li role="presentation" :class="{active:historyTab}">
                     <a href="#history" aria-controls="history" role="tab" data-toggle="tab">
                        <span class="glyphicon glyphicon-time"></span>
                        History</a>
                  </li>
               </ul>

               <div class="tab-content">
                  <visit-history :patient_id="patient_id"></visit-history>
               </div>

            </div>
            <div class="col-sm-9">
               <router-view :gender="gender"></router-view>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
    import VisitHistory from './sub/VisitHistory';

    export default {
        name:'prescription',
        props:['patient_id','gender'],
        computed:{
            info(){
               return this.$store.state.info;
            },
            historyTab(){
                if(this.$route.path=='/visit'){
                    return true;
                }
                return false;
            },
            currentTab(){
                if(this.$route.path=='/visit'){
                    return false;
                }
                return true;
            },
        },
        components:{
            VisitHistory
        },
        created(){
            var that = this;
            var p = this.patient_id;
            var dt = dateFormat('isoDate');
            axios.get('/clinical-management/visit/'+p+'/'+dt)
                .then(function(resp){
                    if(resp.data.status!=='failed'){
                        that.$store.state.info = resp.data;
                    }
                })
                .catch(function(error){
                    console.log('error');
                });
        }
    }
</script>

<style scoped>
    .router-link-exact-active{
        background:#ddd;
    }

    .nav-tabs {
        margin-bottom: 5px;
    }

    .nav > li > a {
        padding: 5px;
    }

    .patient-info-wrapper {
        position: relative;
    }

    .patient-info {
        position: sticky;
        top: 1px;
    }
</style>