<template>
    <div>
        <div class="form-group">
            <label class="panel-title">Cardiac Vascular System</label>
            <textarea class="form-control" v-model="info.cardiac_vascular_system" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label class="panel-title">Respiratory System</label>
            <textarea class="form-control" v-model="info.respiratory_system" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label class="panel-title">Elementary System</label>
            <textarea class="form-control" v-model="info.elementary_system" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label class="panel-title">Nervous System</label>
            <textarea class="form-control" v-model="info.nervous_system" cols="30" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label class="panel-title">Musculoskeletal System</label>
            <textarea class="form-control" v-model="info.musculoskeletal_system" cols="30" rows="3"></textarea>
        </div>
        
    </div>
</template>

<script>
    export default {
        name: "systemic-examination",
        computed:{
            info(){
                return this.$store.state.info;
            }
        },
        created(){
            this.$root.page_title = 'Systemic Examination';
        }
    }
</script>

<style scoped>

</style>