<template>
    <div>
        <h1>Visit <small>{{$route.query.dt|dateFormat}}</small></h1>
        <div v-if="loaded">
            <patient-info :shared="shared"></patient-info>
        </div>
    </div>
</template>

<script>
    import PatientInfo from './sub/PatientInfo';

    export default {
        name: "visit",
        data(){
            return {
                loaded:false,
                shared:null
            }
        },
        components:{
            PatientInfo
        },
        watch:{
            '$route':'fetchInfo'
        },
        created(){
            this.fetchInfo();
        },
        methods:{
            fetchInfo(){
                var that = this;
                var p = this.$route.query.p;
                var dt = this.$route.query.dt;
                axios.get('/clinical-management/visit/'+p+'/'+dt)
                    .then(function(resp){
                        that.loaded = true;
                        that.shared = resp.data;
                    })
                    .catch(function(error){
                        alert('error');
                    });
            }
        }
    }
</script>

<style scoped>

</style>