/* 
    Created on : Mar 6, 2017, 11:40:32 AM
    Author     : Mahabubul Hasan Uzzal <codehasan@gmail.com>
*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 80px;
  background-color: #263238;
  color:#B0BEC5;  
}
.footer a{
    color:#B0BEC5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.pad-10-0{padding:10px 0;}
.pad-20-0{padding:20px 0;}
.home-text{font-size:14pt;padding-top:20px;text-align:justify;}
.navbar-brand{margin-top:-10px;}
#content .content-form{margin:10px 0;}
#content .control-wrapper{display:none;}
#content .control{float:right;position:relative;width:45px;width:85px;}
#content .control .control-button{position:absolute;top:-4px;}
#quarter_1{background:#486174;color:#fff;}
#quarter_2{background:#6a8ba3;}
#quarter_3{background:#b6c6d2;}
label span{color:#1c728c;}
.mono{font-family: monospace;}
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.highlight span {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-break: normal;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.strike{
  text-decoration: line-through;
}

.strike mark{
  display: none;
}

.score-grid-text{text-align:center;}