<template>
    <div id="remote">
        <input v-model="drug_name" class="typeahead form-control" type="text" placeholder="Drug name">
    </div>
</template>

<script>
    var typehead = require('typeahead.js');
    var Bloodhound = require('bloodhound-js');

    export default {
        name: "drug",
        data(){
            return {
                drug_name:''
            }
        },
        watch:{
            drug_name(){
                this.$emit('change', this.drug_name);
            }
        },
        mounted(){
            var drugs = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: '/api/search/drug?q=',
                remote: {
                    url: '/api/search/drug?q=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#remote .typeahead').typeahead(null, {
                name: 'brand_name',
                display: 'brand_name',
                source: drugs,
                templates: {
                    empty: [
                        '<div class="empty-message">',
                        'No Drug found with that name',
                        '</div>'
                    ].join('\n'),
                    suggestion:function(data){
                        return '<p>Brand: <strong>'+data.brand_name+'</strong>'
                        +'<br>'+data.generic_name+' ('+data.dosage_form+')'
                        +'</p>';
                    }
                }
            });

            var that = this;
            $('#remote .typeahead').bind('typeahead:close', function(ev) {
                that.drug_name = this.value;
            });
        }
    }
</script>

<style>
    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999
    }

    .tt-menu {
        min-width:250px;
        margin: 2px 0;
        padding: 4px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 13px;
        line-height: 24px;
    }

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }

    .empty-message{
        padding-left: 5px;
    }
</style>