<template>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Brand Name</th>
                <th>Dose</th>
                <th>Frequency</th>
                <th>Duration</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="m in meds">
                    <td>{{m.drug_name}}</td>
                    <td>{{m.dose}}</td>
                    <td>{{m.freq}}</td>
                    <td>{{m.duration}}</td>
                </tr>
                <tr v-if="meds==0">
                    <td colspan="4">No medication added yet.</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "med-table",
        props:{
            meds:Array
        }
    }
</script>

<style scoped>

</style>