<template>
    <div>
        <h4 class="info-title">Present Complaints</h4>
        <p v-show="info.present_complaints">
            <strong>Present Complaints: </strong>{{info.present_complaints}}
        </p>
        <h4 class="info-title">Patient History</h4>
        <p v-show="info.past_illness && info.past_illness.length>0"><strong>Past Illness: </strong> {{info.past_illness}}</p>
        <p v-show="info.medical_history"><strong>Medical &amp; Sergial History:</strong> {{info.medical_history}}</p>
        <p v-show="info.medication"><strong>Medication:</strong> {{info.medication}}</p>
        <p v-show="info.personal && info.personal.length>0"><strong>Personal History:</strong> {{info.personal}}</p>
        <p v-show="info.family"><strong>Family:</strong> {{info.family}}</p>
        <p v-show="info.social"><strong>Social:</strong> {{info.social}}</p>
        <p v-show="info.allergy"><strong>Allergy:</strong> {{info.allergy}}</p>
        <p v-show="info.psychiatric_illness"><strong>Psychiatric Illness:</strong> {{info.psychiatric_illness}}</p>

        <h4 class="info-title">General Examination</h4>

        <p v-show="info.appearance"><strong>Appearance:</strong> {{info.appearance}}</p>
        <p v-show="info.anaemia"><strong>Anaemia:</strong> {{info.anaemia}}</p>
        <p v-show="info.blood_pressure"><strong>Blood Pressure:</strong> {{info.blood_pressure}}</p>
        <p v-show="info.venous_pressure"><strong>Venous Pressure:</strong> {{info.venous_pressure}}</p>
        <p v-show="info.jaundice"><strong>Jaundice:</strong> {{info.jaundice}}</p>
        <p v-show="info.temperature"><strong>Temparature:</strong> {{info.temperature}}</p>
        <p v-show="info.clubbing"><strong>Clubbing:</strong> {{info.clubbing}}</p>
        <p v-show="info.cyanosis"><strong>Cyanosis:</strong> {{info.cyanosis}}</p>
        <p v-show="info.pulse"><strong>Pulse:</strong> {{info.pulse}}</p>
        <p v-show="info.oedema"><strong>Oedema:</strong> {{info.oedema}}</p>
        <p v-show="info.height"><strong>Height:</strong> {{info.height}}</p>
        <p v-show="info.weight"><strong>Weight:</strong> {{info.weight}}</p>
        <p v-show="info.other_examination"><strong>Others:</strong> {{info.other_examination}}</p>

        <h4 class="info-title">Systemic Examination</h4>
        <p v-show="info.cardiac_vascular_system"><strong>Cardiac Vascular System:</strong> {{info.cardiac_vascular_system}}</p>
        <p v-show="info.respiratory_system"><strong>Respiratory System:</strong> {{info.respiratory_system}}</p>
        <p v-show="info.elementary_system"><strong>Elementary System:</strong> {{info.elementary_system}}</p>
        <p v-show="info.nervous_system"><strong>Nervous System:</strong> {{info.nervous_system}}</p>
        <p v-show="info.musculoskeletal_system"><strong>Musculoskeletal System:</strong> {{info.musculoskeletal_system}}</p>

        <h4 class="info-title">Investigations</h4>
        <p v-show="info.routine && info.routine.length>0"><strong>Routine: </strong> {{info.routine}}</p>
        <p v-show="info.investigation_specific"><strong>Specific:</strong> {{info.investigation_specific}}</p>

        <h4 class="info-title">Diagnosis</h4>
        <p v-show="info.diagnosis"><strong>Diagnosis:</strong> {{info.diagnosis}}</p>
        <p v-show="info.diagnosis_remarks"><strong>Remarks:</strong> {{info.diagnosis_remarks}}</p>

        <h4 class="info-title">Medication</h4>
        <med-table :meds="info.meds"></med-table>

        <test-table :tests="info.tests"></test-table>
        <p v-show="info.medication_advice"><strong>Other Advice:</strong> {{info.medication_advice}}</p>

        <span v-show="info.menstruation"><strong>Menstruation:</strong> {{info.menstruation}} days, {{info.menstruation_type}}<br></span>
        <span v-show="info.para"><strong>Para:</strong> {{info.para}}<br></span>
        <span v-show="info.gravida"><strong>Gravida:</strong> {{info.gravida}}<br></span>
        <span v-show="info.menarche"><strong>Menarche:</strong> {{info.menarche}}<br></span>
        <span v-show="info.menopause"><strong>Menopause:</strong> {{info.menopause}}<br></span>

        <div v-if="info.patient_id">
            <test-result :patient_id="info.patient_id" :visit_date="info.visit_date"></test-result>
        </div>
    </div>
</template>

<script>
    import MedTable from './MedTable';
    import TestTable from './TestTable';
    import TestResult from './TestResult';

    export default {
        name: "patient-info",
        props:['shared'],
        computed:{
            info(){
                if(this.shared){
                    return this.shared;
                }else{
                    return this.$store.state.info;
                }
            }
        },
        components:{
            MedTable,
            TestTable,
            TestResult
        }
    }
</script>

<style scoped>
.info-title{
    background:#ddd;
    padding:5px;
}
</style>