<template>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Test Type</th>
                <th>Repeat</th>
                <th>Frequency</th>
                <th>Until</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="t in tests">
                <td>{{t.test_type}}</td>
                <td>{{t.is_repeat}}</td>
                <td>{{t.repeat_frequency}}</td>
                <td>{{t.repeat_until}}</td>
            </tr>
            <tr v-if="tests==0">
                <td colspan="4">No test added yet.</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "test-table",
        props:{
            tests:Array
        }
    }
</script>

<style scoped>

</style>