<template>
    <div>
        <h4 class="info-title">Test Results</h4>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Type - Date</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="r in result">
                <td>
                    <div><strong>{{r.type}}</strong></div>
                    <small>{{r.date}}</small>
                </td>
                <td>
                    <span v-if="r.type=='BLOOD_SUGAR'">
                        After Breakfast: <strong>{{r.result.afterBreakfast}}</strong> /
                        Random: <strong>{{r.result.random}}</strong> /
                        Fasting: <strong>{{r.result.fasting}}</strong>
                    </span>
                    <span v-else>
                        Distolic: <strong>{{r.result.distolic}}</strong> /
                        Systolic: <strong>{{r.result.systolic}}</strong>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "TestResult",
        props:['patient_id','visit_date'],
        data(){
            return {
                result:[]
            }
        },
        created(){
            var that = this;
            axios.get('/patient/test-result/'+this.patient_id)
                .then((resp)=>{
                   that.result = resp.data;
                })
                .error((err)=>{
                    console.log(err)
                });
        }
    }
</script>

<style scoped>

</style>