<template>
    <div>
        <Label>Visit History</Label>
        <div class="row list-group">
            <router-link v-for="v in visits" :key="v.id" :to="{path:'/visit', query:{p:patient_id,dt:v.visit_date}}" class="list-group-item">{{v.visit_date|dateFormat}}</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "visit-history",
        props:['patient_id'],
        data(){
            return {
                visits:[]
            }
        },
        created(){
            var that = this;
            that.fetchHistory();
            that.$parent.$on('saved', function(){
                that.fetchHistory();
            });
        },
        methods:{
            fetchHistory(){
                var that = this;
                axios.get('/clinical-management/visit-dates/'+this.patient_id)
                    .then(function(resp){
                        that.visits = resp.data;
                    })
                    .catch(function(resp){
                        console.log(resp.data);
                    });
            }
        }
    }
</script>

<style scoped>

</style>